apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
  namespace: sockshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
      - name: orders
        image: likhith045/orders-mongo:latest
        ports:
        - containerPort: 7001
          
    