apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping
  namespace: sockshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shipping
  template:
    metadata:
      labels:
        app: shipping
    spec:
      containers:
      - name: shipping
        image: likhith045/shipping-mysql:latest
        ports:
        - containerPort: 7001
          